<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@akp__2" />
    <meta property="og:url" content="https://jf1hnl.github.io/jihou/" /> 
    <meta property="og:title" content="アカピー時報ボタン" /> 
    <meta property="og:description" content="アカピー用時報ボタンです。名前も変えられるので、アカピーでもアカピーじゃなくても時報できます！" /> 
    <meta property="og:image" content="https://1.bp.blogspot.com/-UZtkSEX0wh4/U5l5_dNcEsI/AAAAAAAAhWs/UzJGVzyiX8Y/s800/kaichu_dokei.png" /> 
    <title>時報ボタン</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="field">
      <h1>{{ name }}の時報ボタン</h1>
      Twitterでつぶやけます！<br>
      時報する内容<br>
      {{ tweet_text }} <br>
      <button @click="tweet();">時報する</button><br>
      <div v-if="!rename" @click="rename = true">名前を変更するときはこちら</div>
      <div v-else>
        ここに名前を記入<br>
        <input v-model="name">
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
