<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@akp__2" />
    <meta property="og:url" content="https://jf1hnl.github.io/jihou/" /> 
    <meta property="og:title" content="アカピー時報ボタン" /> 
    <meta property="og:description" content="アカピー用時報ボタンです。名前も変えられるので、アカピーでもアカピーじゃなくても時報できます！" /> 
    <meta property="og:image" content="https://1.bp.blogspot.com/-UZtkSEX0wh4/U5l5_dNcEsI/AAAAAAAAhWs/UzJGVzyiX8Y/s800/kaichu_dokei.png" /> 
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="icon.png" sizes="192x192"/>
    <title>時報ボタン</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="field" align="center">
      <div class="title">{{ name }}の時報ボタン</div>
      <div>Twitterに時報しよう！</div>
      <div class="box">
        <div align="left">時報する内容</div>
        <div>{{ tweet_text }}</div>
      </div>
      <div class="button" @click="tweet();">
        <div>時報する！</div>
      </div><br>
      <div class="rename" v-if="!rename" @click="rename = true">名前を変更するときはこちら</div>
      <div v-else>
        ここに名前を記入<br>
        <input v-model="name">
      </div>
    </div>
    <script src="index.js"></script>
    <script src="drawer.js"></script>
    <script>
    // ServiceWorker登録：https://developers.google.com/web/fundamentals/primers/service-workers/?hl=ja
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('sw.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }).catch(function(err) {
            console.log('ServiceWorker registration failed: ', err);
        });
    }
    </script>
  </body>
</html>
